

    <div class="jumbotron text-center">
      <div class="overlay">
      </div>
      <div class="background-image">
      </div>
      <div class="caption">
        <h1>PE Hub Scraper</h1>
        <p>Scrape and Save Articles</p>
        <a class="btn btn-danger scrape-new modal-triggers" data-toggle="modal" data-target="#alert-modal">SCRAPE NEW ARTICLES!</a>
      </div>
    </div>

    {{!-- articles --}}
    <div class="container-fluid article-container">
      {{#new}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>{{title}}</h2>
          <a class="btn btn-success save" data-id="{{_id}}"> Save to Favorites</a>
        </div>
        <div class="panel-body">
          <p><a class="article-link" target="_blank" href="{{link}}">Read More</a></p>
        </div>
      </div>
      {{/new}}
    </div>

    <!-- Modal -->
<div id="alert-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header panel-heading">
              <button type="button" class="close" data-dismiss="modal" style="color:#FFF;">&times;</button>
              <h4 class="modal-title panel-heading">PE Hub</b></h4>
          </div>
          <div class="modal-body">
              <p id="alert-content"></p>   
          </div>
          <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-danger pull-right">Okay</button>
          </div>    
      </div>
  </div>
</div>